name: Lint

on:
  push:
    branches-ignore:
      - "main"

concurrency:
  group: ${{ github.ref }}_lint
  cancel-in-progress: true

env:
  FLUTTER_VERSION: 3.29.3
  NODE_VERSION: 20.15.x

jobs:
  app:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./app

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Install packages
        run: flutter pub get

      - name: Lint project
        run: flutter analyze

  service:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./service

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
          cache-dependency-path: service/package-lock.json

      - name: Install packages
        run: npm ci

      - name: Lint
        run: npm run lint
