# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Run Unit Tests

on:
  push:
    branches-ignore:
      - "main"

concurrency:
  group: ${{ github.ref }}_run_unit_tests
  cancel-in-progress: true

jobs:
  app:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./app

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Install packages
        run: flutter pub get

      - name: Run Tests
        run: flutter test

  service:
    runs-on: ubuntu-latest

    env:
      REDIS_HOST: localhost
      REDIS_PORT: 6379
      REDIS_VERSION: 7
      NODE_VERSION: 20.15.x

    defaults:
      run:
        working-directory: ./service

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
          cache-dependency-path: service/package-lock.json

      - name: Start Redis
        uses: supercharge/redis-github-action@1.8.0
        with:
          redis-version: ${{ env.REDIS_VERSION }}

      - name: Install packages
        run: npm ci

      - name: Run Tests
        run: npm test
